{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<header class="container-fluid p-5 text-center bg-light">
  <h1>SUBL'IMMO - Panier</h1>
</header>

<main class="container-fluid p-5">
  <div class="row">
    <div class="col-12 offset-2">
      <h2>Votre panier</h2>
      {# si le panier existe => affichage sous forme de tableau #}
    </div>
  </div>
</main>
{% endblock %}
