<h1>Bonjour! Confirmer vote adresse mail</h1>

<p>
    Merci de vérifier votre mail en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Le lien expirera dans : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Coordialement <br>
    <i>L'équipe SUBL'IMMO</i>
</p>
