{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Modifier le Comment</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    <button class="btn btn-outline-success m-3">Modifier</button>
    </div>
    <a href="{{ path('comment_admin_index') }}">Retour à la list</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
