{% extends 'baseAdmin.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Créer un nouveau Commentaire</h1>

    {{ include('comment/_form.html.twig') }}

    <button class="btn btn-outline-success m-3">Créer</button>
    </div>

{% endblock %}
